<!DOCTYPE html>
<html lang="ja">
{% include head.html %}
<body class="bg-background-light dark:bg-background-dark font-sans text-slate-900 dark:text-slate-100 antialiased">
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  {% include mobile-menu-script.html %}
  {% if page.extra_js %}
    {% for js in page.extra_js %}<script src="{{ js | relative_url }}"></script>{% endfor %}
  {% endif %}
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "de1cc605d78b4279a7d43103d220fb7d"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>
